<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="rango-edades">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `rango-edades`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RangoEdades extends Polymer.Element {
      static get is() { return 'rango-edades'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'rango-edades'
          }
        };
      }
    }

    window.customElements.define(RangoEdades.is, RangoEdades);
  </script>
</dom-module>
