<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="rango-edades">
  <template>
    <style>
      :host {
        display: block;
      }
      :host .azul{
        background: blue;
        border-radius: 1em;
        border:2px solid blue;
        height: 5em;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
      :host .rojo{
        background: red;
        border-radius: 1em;
        border:2px solid red;
        height: 5em;
        color: white;
        font-weight: bold;
        font-size: 18px;
        
      }
      :host .naranja{
        background: orange;
        border-radius: 1em;
        border:2px solid orange;
        height: 5em;
        color: black;
        font-weight: bold;
        font-size: 18px;
      }
      :host .verde{
        background: green;
        border-radius: 1em;
        border:2px solid green;
        height: 5em;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
      :host .rosa{
        background: pink;
        border-radius: 1em;
        border:2px solid pink;
        height: 5em;
        color: black;
        font-weight: bold;
        font-size: 18px;
      }
      :host .amarillo{
        background: yellow;
        border-radius: 1em;
        border:2px solid yellow;
        height: 5em;
        color: black;
        font-weight: bold;
        font-size: 18px;
      }
      :host .morado{
        background: purple;
        border-radius: 1em;
        border:2px solid purple;
        height: 5em;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
      #nombre,#ap ,#edad,#cont{
        text-align: center;
        margin: 0.5em;
        display: inline-block;
        margin-top:2em;
      }
    </style>
    <div id="contenido" class="verde">
        <div id="nombre">nombre: {{first}}</div>
        <div id="ap">apellido: {{last}}</div>
        <div id="edad">edad: {{edad}}</div>
        <div id="cont" id="contador" name="contador">contador: {{contador}} </div>
      </div>
   
  </template>

  <script>
    /**
     * `rango-edades`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RangoEdades extends Polymer.Element {
      static get is() { return 'rango-edades'; }
      static get properties() {
        return {
          comp: {
            type: Array,
            notify:true,
            value:{}
          },
          contador:{
            type:Number,
            value:1
          },
          first:{
            type:String,
            value:'Luis'
          },
          last:{
            type:String,
            value:'Lopez'
          },
          edad:{
            type:Number,
            value:28
          },
          miciclo:{
            type:Object
          }
        };
      }
      ready() {
          super.ready();
          this.set('comp', [
          { 
            first: 'Iris', 
            last: 'Castillejo', 
            edad:'23',
            contador : 0
          },
          { 
            first: 'Silvino', 
            last: 'Piza',
            edad:'15',
            contador : 0
          },
          { 
            first: 'Luis Miguel', 
            last: 'AP',
            edad:'40',
            contador : 0
          },
          { 
            first: 'monica', 
            last: 'AP',
            edad:'26',
            contador : 0 
          },
          { 
            first: 'Diego', 
            last: 'AP',
            edad:'35',
            contador : 0
          },
          { 
            first: 'Alberto', 
            last: 'AP',
            edad:'10',
            contador : 0
          }
          ]);
          this.filtrar();
          console.log(this.comp);
        }
    
     
        color(){
        var  num = Math.floor(Math.random()*this.comp.length);
        
        if(this.comp[num]){
          this.comp[num].contador++;
          this.contador = this.comp[num].contador;
          this.first = this.comp[num].first;
          this.last = this.comp[num].last;
          this.edad = this.comp[num].edad;
          var edad = this.comp[num].edad;

          
            if(edad > 0 && edad <= 13){
               Polymer.dom(this.root).querySelector("#contenido").className='azul';
            }
            if(edad > 13 && edad <= 18){
               Polymer.dom(this.root).querySelector("#contenido").className='rojo';
            }
            if(edad > 18 && edad <= 25){
              Polymer.dom(this.root).querySelector("#contenido").className='naranja';
            }
            if(edad > 25 && edad <= 30){
              Polymer.dom(this.root).querySelector("#contenido").className='verde';
            }
            if(edad > 30 && edad <= 35){
              Polymer.dom(this.root).querySelector("#contenido").className='rosa';
            } 
            if(edad > 35 && edad <= 40) {
              Polymer.dom(this.root).querySelector("#contenido").className='amarillo';
            }
            if(edad > 40){
              Polymer.dom(this.root).querySelector("#contenido").className='morado';
            }
        }else{
          //console.log("No");
        }
      }
      
      filtrar() {
        let _this = this;

        this.miciclo = setInterval(
          function(){

            _this.color();
          }
        , 2000);

      }
      }

    window.customElements.define(RangoEdades.is, RangoEdades);
  </script>
</dom-module>
